@import url(./reset.css);

:root{
    /* CSS HEX */
--timberwolf: #dad5d5ff;
--timberwolf-2: #d9cdcdff;
--licorice: #1e191aff;
--silver: #ada9a9ff;
--jet: #302f2fff;
--color-title:#fafafafa;

}

header,
nav,
main,
footer{
    max-width: 120rem;
    margin: 0 auto;
    background-color:var(--timberwolf);
    padding: 0 1rem;
}

div.picture img{
    width: 100%;
    display: inline-block;
    object-fit: cover;
    vertical-align: middle;
    
}
section p{
    text-align: justify;
    padding: 1.5rem 0;
}

footer p{
    text-align: center;
    color: var(--licorice);
}
footer *{
    color: var(--licorice);
}

header h1,section h2, nav h2{
    line-height: 7rem;

}

nav ol{
    line-height: 3rem;
    padding: 1rem 0;
    padding-left: 2rem;
    list-style-type: decimal;
}
nav ol *{
    color: var(--licorice);
}


section h2, nav h2{
    text-transform: capitalize;
    font-size: x-large;
    background-color: var(--color-title);
    padding-left: 1rem;
    box-shadow: 0 .3rem 0 var(--silver);
}

section h2,h1{
    text-align: center;
}
